test/SmenXsdToCs1/MeterReadings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://langdale.com.au/2005/Message#" xmlns:a="http://langdale.com.au/2005/Message#" xmlns:m="http://iec.ch/TC57/2011/MeterReadings#" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://iec.ch/TC57/2011/MeterReadings#" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="MeterReadings" type="m:MeterReadings" />
  <xs:complexType name="MeterReadings">
    <xs:sequence>
      <xs:element name="EndDeviceEventType" type="m:EndDeviceEventType" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="MeterReading" type="m:MeterReading" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="ReadingQualityType" type="m:ReadingQualityType" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="ReadingType" type="m:ReadingType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Asset" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Asset">
    <xs:sequence>
      <xs:element name="mRID" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID" />
      <xs:element name="Names" type="m:Name" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateTimeInterval" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schemacim15# DateTimeInterval">
    <xs:sequence>
      <xs:element name="end" type="xs:dateTime" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#DateTimeInterval.end" />
      <xs:element name="start" type="xs:dateTime" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#DateTimeInterval.start" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EndDeviceEvent" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schemacim15# EndDeviceEvent">
    <xs:sequence>
      <xs:element name="mRID" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID" />
      <xs:element name="createdDateTime" type="xs:dateTime" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ActivityRecord.createdDateTime" />
      <xs:element name="issuerID" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceEvent.issuerID" />
      <xs:element name="issuerTrackingID" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceEvent.issuerTrackingID" />
      <xs:element name="reason" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ActivityRecord.reason" />
      <xs:element name="severity" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ActivityRecord.severity" />
      <xs:element name="userID" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceEvent.userID" />
      <xs:element name="Assets" type="m:Asset" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ActivityRecord.Assets" />
      <xs:element name="EndDeviceEventDetails" type="m:EndDeviceEventDetail" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schemacim15# EndDeviceEvent.EndDeviceEventDetails" />
      <xs:element name="EndDeviceEventType" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schemacim15# EndDeviceEvent.EndDeviceEventType">
        <xs:complexType sawsdl:modelReference="">
          <xs:attribute name="ref" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="Names" type="m:Name" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names" />
      <xs:element name="status" type="m:Status" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ActivityRecord.status" />
      <xs:element name="UsagePoint" type="m:UsagePoint" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceEvent.UsagePoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EndDeviceEventDetail" sawsdl:modelReference="http://iec.ch/TC57/2010/CIMschema- cim15#EndDeviceEventDetail">
    <xs:sequence>
      <xs:element name="name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIMschema- cim15#EndDeviceEventDetail.name" />
      <xs:element name="value" type="m:StringQuantity" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceEventDetail.value" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EndDeviceEventType" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schemacim15# EndDeviceEventType">
    <xs:sequence>
      <xs:element name="mRID" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID" />
      <xs:element name="domain" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceEventType.domain" />
      <xs:element name="eventOrAction" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceEventType.eventOrAction" />
      <xs:element name="subDomain" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceEventType.subDomain" />
      <xs:element name="type" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDeviceEventType.type" />
      <xs:element name="Names" type="m:Name" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IntervalBlock" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schemacim15# IntervalBlock">
    <xs:sequence>
      <xs:element name="IntervalReadings" type="m:IntervalReading" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IntervalBlock.IntervalReadings" />
      <xs:element name="PendingCalculation" type="m:PendingCalculation" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IntervalBlock.PendingCalculation" />
      <xs:element name="ReadingType" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schemacim15# IntervalBlock.ReadingType">
        <xs:complexType sawsdl:modelReference="">
          <xs:attribute name="ref" type="xs:string" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IntervalReading" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schemacim15# IntervalReading">
    <xs:sequence>
      <xs:element name="reportedDateTime" type="xs:dateTime" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#BaseReading.reportedDateTime" />
      <xs:element name="source" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#BaseReading.source" />
      <xs:element name="timeStamp" type="xs:dateTime" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MeasurementValue.timeStamp" />
      <xs:element name="value" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#BaseReading.value" />
      <xs:element name="ReadingQualities" type="m:ReadingQuality" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#BaseReading.ReadingQualities" />
      <xs:element name="timePeriod" type="m:DateTimeInterval" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#BaseReading.timePeriod" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Meter" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Meter">
    <xs:sequence>
      <xs:element name="mRID" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID" />
      <xs:element name="Names" type="m:Name" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names" />
      <xs:element name="status" type="m:Status" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Asset.status" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MeterReading" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schemacim15# MeterReading">
    <xs:sequence>
      <xs:element name="isCoincidentTrigger" type="xs:boolean" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MeterReading.isCoincidentTrigger" />
      <xs:element name="EndDeviceEvents" type="m:EndDeviceEvent" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MeterReading.EndDeviceEvents" />
      <xs:element name="IntervalBlocks" type="m:IntervalBlock" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MeterReading.IntervalBlocks" />
      <xs:element name="Meter" type="m:Meter" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MeterReading.Meter" />
      <xs:element name="Readings" type="m:Reading" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MeterReading.Readings" />
      <xs:element name="UsagePoint" type="m:UsagePoint" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MeterReading.UsagePoint" />
      <xs:element name="valuesInterval" type="m:DateTimeInterval" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MeterReading.valuesInterval" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Name" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Name">
    <xs:sequence>
      <xs:element name="name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIMschema- cim15#Name.name" />
      <xs:element name="NameType" type="m:NameType" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Name.NameType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NameType" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schemacim15# NameType">
    <xs:sequence>
      <xs:element name="description" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameType.description" />
      <xs:element name="name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIMschema- cim15#NameType.name" />
      <xs:element name="NameTypeAuthority" type="m:NameTypeAuthority" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameType.NameTypeAuthority" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NameTypeAuthority" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schemacim15# NameTypeAuthority">
    <xs:sequence>
      <xs:element name="description" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameTypeAuthority.description" />
      <xs:element name="name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIMschema- cim15#NameTypeAuthority.name" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PendingCalculation" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schemacim15# PendingCalculation">
    <xs:sequence>
      <xs:element name="multiplyBeforeAdd" type="xs:boolean" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PendingCalculation.multiplyBeforeAdd" />
      <xs:element name="offset" type="xs:integer" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PendingCalculation.offset" />
      <xs:element name="scalarDenominator" type="xs:integer" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PendingCalculation.scalarDenominator" />
      <xs:element name="scalarFloat" type="xs:float" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PendingCalculation.scalarFloat" />
      <xs:element name="scalarNumerator" type="xs:integer" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PendingCalculation.scalarNumerator" />
      <xs:element name="ReadingType" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schemacim15# PendingCalculation.ReadingType">
        <xs:complexType sawsdl:modelReference="">
          <xs:attribute name="ref" type="xs:string" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RationalNumber" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schemacim15# RationalNumber">
    <xs:sequence>
      <xs:element name="denominator" type="xs:integer" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#RationalNumber.denominator" />
      <xs:element name="numerator" type="xs:integer" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#RationalNumber.numerator" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Reading" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schemacim15# Reading">
    <xs:sequence>
      <xs:element name="reason" type="m:ReadingReasonKind" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Reading.reason" />
      <xs:element name="reportedDateTime" type="xs:dateTime" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#BaseReading.reportedDateTime" />
      <xs:element name="source" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#BaseReading.source" />
      <xs:element name="timeStamp" type="xs:dateTime" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#MeasurementValue.timeStamp" />
      <xs:element name="value" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#BaseReading.value" />
      <xs:element name="ReadingQualities" type="m:ReadingQuality" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#BaseReading.ReadingQualities" />
      <xs:element name="ReadingType" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schemacim15# Reading.ReadingType">
        <xs:complexType sawsdl:modelReference="">
          <xs:attribute name="ref" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="timePeriod" type="m:DateTimeInterval" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#BaseReading.timePeriod" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReadingInterharmonic" sawsdl:modelReference="http://iec.ch/TC57/2010/CIMschema- cim15#ReadingInterharmonic">
    <xs:sequence>
      <xs:element name="denominator" type="xs:integer" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingInterharmonic.denominator" />
      <xs:element name="numerator" type="xs:integer" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingInterharmonic.numerator" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReadingQuality" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schemacim15# ReadingQuality">
    <xs:sequence>
      <xs:element name="comment" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingQuality.comment" />
      <xs:element name="source" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingQuality.source" />
      <xs:element name="timeStamp" type="xs:dateTime" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingQuality.timeStamp" />
      <xs:element name="ReadingQualityType" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schemacim15# ReadingQuality.ReadingQualityType">
        <xs:complexType sawsdl:modelReference="">
          <xs:attribute name="ref" type="xs:string" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReadingQualityType" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schemacim15# ReadingQualityType">
    <xs:sequence>
      <xs:element name="mRID" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID" />
      <xs:element name="category" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingQualityType.category" />
      <xs:element name="subCategory" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingQualityType.subCategory" />
      <xs:element name="systemId" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingQualityType.systemId" />
      <xs:element name="Names" type="m:Name" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ReadingReasonKind" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schemacim15# ReadingReasonKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="billing" />
      <xs:enumeration value="demandReset" />
      <xs:enumeration value="inquiry" />
      <xs:enumeration value="installation" />
      <xs:enumeration value="loadManagement" />
      <xs:enumeration value="loadResearch" />
      <xs:enumeration value="moveIn" />
      <xs:enumeration value="moveOut" />
      <xs:enumeration value="other" />
      <xs:enumeration value="removal" />
      <xs:enumeration value="serviceConnect" />
      <xs:enumeration value="serviceDisconnect" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ReadingType" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schemacim15# ReadingType">
    <xs:sequence>
      <xs:element name="mRID" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID" />
      <xs:element name="accumulation" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType.accumulation" />
      <xs:element name="aggregate" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType.aggregate" />
      <xs:element name="commodity" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType.commodity" />
      <xs:element name="consumptionTier" type="xs:integer" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType.consumptionTier" />
      <xs:element name="cpp" type="xs:integer" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType.cpp" />
      <xs:element name="currency" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType.currency" />
      <xs:element name="flowDirection" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType.flowDirection" />
      <xs:element name="macroPeriod" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType.macroPeriod" />
      <xs:element name="measurementKind" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType.measurementKind" />
      <xs:element name="measuringPeriod" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType.measuringPeriod" />
      <xs:element name="multiplier" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType.multiplier" />
      <xs:element name="phases" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType.phases" />
      <xs:element name="tou" type="xs:integer" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType.tou" />
      <xs:element name="unit" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType.unit" />
      <xs:element name="argument" type="m:RationalNumber" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType.argument" />
      <xs:element name="interharmonic" type="m:ReadingInterharmonic" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType.interharmonic" />
      <xs:element name="Names" type="m:Name" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Status" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schemacim15# Status">
    <xs:sequence>
      <xs:element name="dateTime" type="xs:dateTime" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Status.dateTime" />
      <xs:element name="reason" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Status.reason" />
      <xs:element name="remark" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Status.remark" />
      <xs:element name="value" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Status.value" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UsagePoint" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schemacim15# UsagePoint">
    <xs:sequence>
      <xs:element name="mRID" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID" />
      <xs:element name="Names" type="m:Name" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="StringQuantity" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schemacim15# StringQuantity">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
</xs:schema>